@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  --color-background: #050505;
  --color-surface: #1A1A1A;
}

body {
  @apply bg-background text-white font-sans;
}